# Ignore any builds
/build

# Ignore binaries
*.o
*.a

# Ignore vim/IDE temp files
*.swp
*.DS_Store

# Ignore the NuttX_Glob
/NuttX_Glob

# Ignore windows visual studio nonsense
/.vs
/enc_temp_folder

# Ignore doxygen HTML
/docs/doxygen
